Flask
requests
python-dotenv
flask-cors
#google-generativeai
google-genai==0.3.0
google-api-core==2.19.2
langdetect==1.0.9
pyspellchecker==0.7.0
python-dateutil
gunicorn
textblob==0.17.1
language-tool-python
#idnspell==1.1.0
symspellpy==6.7.6
beautifulsoup4
#sentence-transformers
#faiss-cpu
